[submodule "retroarch"]
	path = modules/retroarch
	url = https://github.com/libretro/RetroArch
[submodule "modules/emsdk"]
	path = modules/emsdk
	url = https://github.com/emscripten-core/emsdk
[submodule "modules/cores/a5200"]
	path = modules/cores/a5200
	url = https://github.com/libretro/a5200
[submodule "modules/cores/fbneo"]
	path = modules/cores/fbneo
	url = https://github.com/libretro/FBNeo
[submodule "modules/cores/prosystem"]
	path = modules/cores/prosystem
	url = https://github.com/libretro/prosystem-libretro
[submodule "modules/cores/stella2014"]
	path = modules/cores/stella2014
	url = https://github.com/libretro/stella2014-libretro
